
/*阿里云图标*/
/*@import "//at.alicdn.com/t/font_3324885_7vtzj8xylwf.css";*/
svg.icon {
  width: 1em; height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  font-size: 20px;
   /* 控制图标大小*/
}
/*---------------圆角-------------*/
/* 修改图片圆角 */
img[src*="#img-radius"] {
  border-radius: 9px;
}
/* 侧边栏圆角 */
#aside-content .card-widget {
border-radius: 25px;
}
/* 文章页圆角 */
.layout>div:first-child:not(.recent-posts) {
border-radius: 25px;
}
/* 双栏卡片圆角 */
#recent-posts>.recent-post-item {
border-radius: 25px;
}
/* github按钮圆角 */
#card-info-btn{
border-radius: 25px;
overflow: hidden}
#card-info-btn:before{
border-radius: 25px
}
/* 右侧小按钮圆角 */
#rightside>div>button,#to_comment {
margin-right: 4px;
border-radius: 5px;
}
/* 翻页圆角 */
#pagination a.extend,
#pagination .page-number,
#pagination span {
color: var(--font-color);
background-color: var(--card-bg);
border-radius: 8px;
height: 1.6rem;
text-align: center;
line-height: 1.6rem;
display: inline-block;
min-width: 1.6rem;
}
/* 目录圆角 */
#aside-content #card-toc .toc-content .toc-link.active {
  border-radius: 8px;
}

/*  ------------------- 自定义字体 ------------------ */
@font-face {
  font-family: 'tzy';
  /* 字体名自定义即可 */
  src: url('https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2');
  /* 字体文件路径 */
  font-display: swap;
}

body,
.gitcalendar {
  font-family: tzy !important;
}
/*  ------------------- 一图流透明 ------------------ */
  /* 页脚透明 */
#footer{
  background: transparent!important;
}

/* 页脚黑色透明玻璃效果减弱 */

#footer::before{
   background: rgba(255, 255, 255, 0.2);
  }

/* 页脚黑色透明玻璃效果移除 
#footer::before{
    background: transparent!important;
  }*/


/* 头图透明 */
#page-header{
  background: transparent!important;
}

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */

/*#page-header.post-bg:before {
  background-color: transparent!important;
}*/

/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }
/*  ------------------- 全局透明 ------------------ */
/* 首页文章卡片 */
#recent-posts > .recent-post-item{
  background:rgba(255, 255, 255, 0.7);
}
/* 首页侧栏卡片 */
.card-widget{
background:rgb(255, 255, 255)!important;
}

/* 首页侧栏卡片 */
div#git_container{
  background:rgba(255, 255, 255, 1)!important;
  }

  
/* 文章页面正文背景 */
div#post{
background: rgba(255, 255, 255, 0.7);
}
/* 分页页面 */
div#page{
background: rgba(255, 255, 255, 0.7);
}
/* 归档页面 */
div#archive{
background: rgba(255, 255, 255, 0.7);
}
/* 标签页面 */
div#tag{
background: rgba(255, 255, 255, 0.7);
}
/* 分类页面 */
div#category{
background: rgba(255, 255, 255, 0.7);
}











/*         -------------------------------------       */
div#post-comment.fixedcomment {
    position: fixed;
    top: 0;
    width: 60%;
    right: 0;
    padding: 25px 30px 20px 20px;
    height: 100vh;
    overflow: scroll;
    z-index: 90;
    background: rgba(222, 222, 222, 0.95);
    box-shadow:3px 2px 14px #464340;
    animation: fixedright 0.5s linear;
}
div#post-comment.fixedcomment::-webkit-scrollbar {
width: 0;
}
div#quit-board{
  display: none;
}
div#quit-board.fixedcomment {
  position: fixed;
  display:block!important;
  left: 0;
  top: 0;
  width: 40%;
  height: 100vh;
  z-index: 89!important;
  background: rgba(25,25,25,0.3);
  filter: blur(4px) !important;
  animation: fixedleft 0.5s linear;
}
/*手机端样式适配*/
@media screen and (max-width: 768px) {
  div#post-comment.fixedcomment {
      width: 90%;
      right: 0;
  }
  div#quit-board.fixedcomment {
    width: 10%;
  }
}
/*动画效果*/
@keyframes fixedright {
  from {right:-50%;}
  to {right:0;}
}
@keyframes fixedleft {
  from {left:-50%;}
  to {left:0;}
}
/* 夜间模式匹配 */
[data-theme="dark"]
  div#post-comment.fixedcomment {
      background: rgba(35, 35, 35, 0.95);
      box-shadow:3px 2px 12px #90a1a4;
  }
[data-theme="dark"]
  div#quit-board.fixedcomment {
    background: rgba(147, 146, 128, 0.3);
  }