/* 主页哔哔bb */
#bber-talk {
    width: 100%;
    height: 25px;
    line-height: 25px;
  }

  #bber-talk .li-style {
    width: 100%;
    height: 25px;
    text-align: center;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
  }
  
  #bber-talk .li-style:hover{
    color: #49b1f5;
  }
  
  #bbTimeList{
    background: rgb(255, 255, 255, 0.5)!important; /* var(--card-bg);*/
    color: var(--font-color);
    margin-top: 1rem;
    padding: 0.6rem 1rem 0.5rem 1rem;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  
  #bbtalk{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }